@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Sacramento&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-animation-speed: 500ms;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "ClashDisplay";
  src:
    url("./assets/fonts/ClashDisplay/ClashDisplay-Extralight.woff2")
      format("woff2"),
    url("./assets/fonts/ClashDisplay/ClashDisplay-Extralight.woff")
      format("woff"),
    url("./assets/fonts/ClashDisplay/ClashDisplay-Extralight.ttf")
      format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src:
    url("./assets/fonts/ClashDisplay/ClashDisplay-Light.woff2") format("woff2"),
    url("./assets/fonts/ClashDisplay/ClashDisplay-Light.woff") format("woff"),
    url("./assets/fonts/ClashDisplay/ClashDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src:
    url("./assets/fonts/ClashDisplay/ClashDisplay-Regular.woff2")
      format("woff2"),
    url("./assets/fonts/ClashDisplay/ClashDisplay-Regular.woff") format("woff"),
    url("./assets/fonts/ClashDisplay/ClashDisplay-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src:
    url("./assets/fonts/ClashDisplay/ClashDisplay-Medium.woff2") format("woff2"),
    url("./assets/fonts/ClashDisplay/ClashDisplay-Medium.woff") format("woff"),
    url("./assets/fonts/ClashDisplay/ClashDisplay-Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src:
    url("./assets/fonts/ClashDisplay/ClashDisplay-Semibold.woff2")
      format("woff2"),
    url("./assets/fonts/ClashDisplay/ClashDisplay-Semibold.woff") format("woff"),
    url("./assets/fonts/ClashDisplay/ClashDisplay-Semibold.ttf")
      format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src:
    url("./assets/fonts/ClashDisplay/ClashDisplay-Bold.woff2") format("woff2"),
    url("./assets/fonts/ClashDisplay/ClashDisplay-Bold.woff") format("woff"),
    url("./assets/fonts/ClashDisplay/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay-Variable";
  src:
    url("./assets/fonts/ClashDisplay/ClashDisplay-Variable.woff2")
      format("woff2"),
    url("./assets/fonts/ClashDisplay/ClashDisplay-Variable.woff") format("woff"),
    url("./assets/fonts/ClashDisplay/ClashDisplay-Variable.ttf")
      format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 3em;

  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  transition:
    stroke-dasharray var(--navbar-animation-speed) cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset var(--navbar-animation-speed) cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.smoother {
  transition: var(--navbar-animation-speed) ease all;
}

.border-test {
  border: 1px red solid;
}

.text-align-last {
  text-align-last: center;
}

.text-align-last-center {
  text-align-last: center;
}

@media (min-width: 1024px) {
  .text-align-last {
    text-align-last: start;
  }
}
